[submodule "evil"]
	path = evil
	url = git://gitorious.org/evil/evil.git
[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "solarized-emacs"]
	path = solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs
